

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    line-height: 2;
    
}

.top-container {
   background-color: #dae9ee;
   
}

.intro {
  width: 30%;
  margin: auto;
}


.mountain {
    width: 500px;
    height: 300px;
    margin-top: 100px;
}

#learning {
    width: 100%;
}

#football {
    width: 70%;
}

.contact-message {
    width: 40%;
    margin: auto;
}

.victor {
    width: 15%;
    
}

#vikrez {
    font-family: cursive;
    padding-top: 100px;
}

h1{
    color: #66BFBF;
    font-size: 90px;
    margin-top: 50px auto 0 auto;
    font-family: 'sacramento';
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}

hr {
    border: dotted #66BFBF 5px;
    width: 4%;
    margin: 100px auto;
    border-bottom: none;

}

.skill-row {
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;

}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
    height: 60px;
    width: 130px;
}

.bottom-cloud {
    position: absolute;
    left:250px;
    bottom: 300px;
    height: 60px;
    width: 130px;
}

.code-img {
    width: 30%;
    float: left;
    margin-right: 30px;
}

.football-img {
    width: 25%;
    float: right;
    margin-left: 20px;
}

.btn {
    background: #11999E;
    border-color: #11999E;
    color: #E4F9F5;
    height: 40px;
    width: 120px;
    margin-top: 60px;
    border-radius: 5px;
    margin-bottom:20px ;
}

.btn:hover{
   cursor: pointer;
   background: #66BFBF;
   border: #66BFBF;
}

a {
    text-decoration: none;
    color: #11999E;
    padding: 15px;
}

a:hover{
    color: white;
}

.bottom-container {
    background: #66BFBF;
    height: 150px;
}

.copyright {
    color: white;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
}


